# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

http://router.alma {
	reverse_proxy 192.168.18.1
}

http://ha.alma {
	reverse_proxy 127.0.0.1:8123
}

http://jellyfin.alma {
	reverse_proxy 192.168.1.2:8096
}

http://adblocker.alma {
	reverse_proxy :1010
}

https://pihole.alma:443 {
	redir / /admin/{uri} permanent
	tls internal
	reverse_proxy :1010
}

https://cloud.alma:443 {
	tls internal
	reverse_proxy :11000
}

https://console.alma:443 {
	tls internal
	reverse_proxy :9090
}

https://dashy.alma {
	tls internal
	reverse_proxy :17054
}

https://komodo.alma {
	tls internal
	reverse_proxy :9120
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
